@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

#root{
    font-family: 'Roboto', sans-serif;
}

/*Fonts Size*/
.cronnos-font-10{
    font-size: 10px;
}
.cronnos-font-11{
    font-size: 11px;
}
.cronnos-font-12{
    font-size: 12px;
}
.cronnos-font-13{
    font-size: 13px;
}
.cronnos-font-14{
    font-size: 14px;
}
.cronnos-font-15{
    font-size: 15px;
}
.cronnos-font-20{
    font-size: 20px;
}

/*Background*/
.cronnos-bg-light{
    background-color: #F6F6F6;
}

/*Buttons*/
.cronnos-button-sideBarLink:hover{
    background-color: blue;
}

.sideBarHome{
    position: fixed;
    width: 250px;
    height: 100vh;
    left: -200px;
    transition: 0.5s;
}
.sideBarHome:hover{
    left: 0px;
}